@import 'normalize.scss';

body {
  min-width: 960px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  background: #000000 url("../img/barbershop-index.jpg") no-repeat 50% 3px;
  color: #ffffff;
  text-transform:uppercase;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*
##################################################
Хеадер
##################################################
*/
.main-header  {
  margin-bottom: 60px;
  color: #ffffff;
  background-color: #000000;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.main-navigation  {
  float: left;
  width: 720px;
}

.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 25px 20px;
}

.main-navigation .inner-logo {
  float: left;
  width: 111px;
  height: 20px;
  padding: 25px 15px 25px 14px;
}

.main-navigation .inner-logo:hover {
  background: none;
}

.main-navigation .inner-logo img{
  width: 111px;
  height: 20px;
}

.main-navigation .active {
  position: relative;
  background: none;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation .active span{
  display: block;
  padding: 25px 20px;
  cursor: default;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 16px;
  background: transparent url(../img/sprite.png) no-repeat -344px -3px;
  opacity: 1;
}

.login:hover::before {
  background: transparent url(../img/sprite.png) no-repeat -370px -3px;
}


/*
##################################################
Главная страница
##################################################
*/

.breadcrumbs {
  margin-bottom: 55px;
}

.company-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.company-logo img{
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 86px;
  color: #FFFFFF;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 35px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after{
  content: "";
  position: absolute;
	width: 20px;
	height: 20px;
	background: #ffffff;
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  transform: rotate(45deg);
}

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
  color: #000000;
  background: url("../img/shadow.png") no-repeat center,
  #f8f5f2 url("../img/white-pattern.jpg");
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 42px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;
}

.news-preview p{
  margin: 0;
}


.news-preview li {
  margin-bottom: 25px;
  list-style-type: none;
}

.news-preview time {
  text-transform: none;
  font-weight: 400;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  vertical-align: top;
  text-align: center;
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000000;
  border-style: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img{
  width: 286px;
  height: 164px;
}

.gallery .btn{
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}
.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 106px;
  padding: 10px 15px;
  border: 2px solid #000000;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  background: #F9F6F3;
  outline: none;
}

.appointment-form input:nth-child(2n) {
    margin-right: 0;
}

.appointment-form .btn{
  clear: both;
  width: 100%;
}

.appointment-form input:focus {
  border-color: #663d15;
}

.modal-content {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 300px;
  padding: 50px 80px;
  color: #000000;
  background: #f8f5f2 url("../img/white-pattern.jpg");
  box-shadow: 0 0px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;

  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::after,
.modal-content-close::before {
  content: "";
  top: 10px;
  left: 2px;
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::after {
  transform: rotate(45deg);
}

.modal-content-close::before {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;

  font-size: 14px;
  line-height: 24px;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}


.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox input[type="checkbox"] {
	display: none;
}

.login-checkbox:hover {
  color: #663d15;
}


.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after,
.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before {
  content: "";
  top: 8px;
  left: 1px;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before {
  transform: rotate(-45deg);
}

.modal-content-map {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  z-index: 100;
  width: 766px;
  height: 561px;
  background: #e9e5dc url("../img/map.jpg");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.modal-content,
.modal-content-map,
.modal-overlay {
  display: none;
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

/*
##################################################
Остальные страницы
##################################################
*/

.inner-page-title h1{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs ul{
  margin: 0;
  padding: 0;
}

.breadcrumbs li{
  position: relative;
  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after{
  content: "";
  position: absolute;
	width: 8px;
	height: 8px;
	background: #000000;
  top: 4px;
  right: 15px;
  transform: rotate(45deg);
}

.breadcrumbs .current::after{
  display: none;
}

.breadcrumbs a{
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover{
  text-decoration: underline;
}

.breadcrumbs .current{
  color: #aba9a7;
}

.breadcrumbs {
  margin-bottom: 55px;
}
/*
##################################################
Общие стили для контентных тегов
##################################################
*/

.inner-page {
  background: #f8f5f2 url("../img/white-pattern.jpg");
  color: #000000;
  text-transform:uppercase;
}

.inner-content h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

.inner-content h3 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
}

.inner-content p{
  margin: 14px 0;
}

.inner-content h2+h3 {
  margin-top: 30px;
}

.inner-content table{
  border-collapse: collapse;
}

.inner-content td{
  padding: 10px 15px;
  border: 2px solid #000000;
}

.inner-columns {
  margin: 60px 0;
}

.inner-column-left,
.inner-column-right {
  width: 460px;
}

.inner-column-left {
  float: left;
}

.inner-column-right {
  float: right;
}

.inner-column-left *:first-child,
.inner-column-right *:first-child {
  margin-top: 0;
}

.inner-column-left *:last-child,
.inner-column-right *:last-child {
  margin-bottom: 0;
}

.short-text {
  padding-right: 80px;
}
/*
##################################################
Страница товара
##################################################
*/


.item-content {
  margin-bottom: 50px;
}

.item-content-left {
  float: left;
  width: 460px;
  margin-right: 80px;
}

.item-content-left img {
  display: block
}

.item-content-right {
  float: right;
  width: 390px;
  padding: 30px 0 0 0px;
}

.item-gallery-main-photo{
  margin: 0;
  margin-bottom: 20px;
}

.item-gallery-main-photo img {
  width: 460px;
}

.item-gallery-others-photo {
  width: 460px;
}

.item-gallery-other-photo {
  float: left;
  width: 140px;
  margin: 0;
  margin-right: 20px;
}

.item-gallery-main-photo,
.item-gallery-other-photo {
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.item-gallery-main-photo:hover,
.item-gallery-other-photo:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}


.item-gallery-other-photo:last-child {
  margin-right: 0;
}

.item-gallery-other-photo img {
  width: 100%;
}

.item-availability {
  float: left;
  width: 170px;
}

.item-article {
  float: right;
  color: #aba9a7;
}



.item-set-title {
  margin-top: 55px;
  margin-bottom: 35px;
}

/*
##################################################
Страница прайс-лист
##################################################
*/

.price-content-tagline {
  margin-bottom: 65px;
  text-align: center;
}

.price-content-tagline h2{
  position: relative;
  display: inline;
  z-index: 2;
  margin: 0;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f5f2 url("../img/white-pattern.jpg");
}

.price-content-tagline::after{
  content: "";
  position: relative;
  z-index: 1;
  top: -25px;
  display: block;
  border-bottom: 2px solid #000000;
}

.price-content-left {
  float: left;
  width: 380px;
  margin-right: 100px;
}

.price-content-right {
  float: left;
  width: 460px;
}

.custom-list {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

.custom-list li{
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list li::after{
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
	width: 8px;
	height: 8px;
	background: #000000;
  transform: rotate(45deg);
}

.price-table {
  width: 100%;
}

.price-table td {
  width: 50%;
}

.price-table td:last-child {
  text-align: center;
}
/*
##################################################
Страница магазина
##################################################
*/
.shop-content-left {
  float: left;
  width: 220px;
}
.shop-content-right {
  float: left;
  width: 720px;
}
.item-card {
  float: left;
  margin-left: 20px;
  width: 220px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}
.item-card:hover {
  box-shadow: 0 0 25px rgba(0,0,0,0.30);
}
.item-description {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.item-wrapper {
  padding: 16px;
}

.item-card-title {
  margin-bottom: 16px;
}

.item-card-title a {
  color: #000000;
  text-decoration: none;
}

.item-card-title-category {
  text-transform: none;
}

.item-card-buy {
  width: 188px;
}

.item-buy-price {
  float: left;
  width: 112px;
  overflow: auto;
  background-color: #e5e5e5;
}
.item-buy-price p{
  text-align: center;
}
.item-buy-price p:after {
  content: " Руб."
}

.item-buy-btn {
  float: right;
  margin-right: 0;
  padding: 14px 17px;
}

.shop-form ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.shop-form li {
  display: block;
  font-size: 14px;
  line-height: 18px;
}
.shop-form label {
  display: inline-block;
  margin-bottom: 20px;
  vertical-align: top;
  cursor: pointer;
}
.shop-form-checkbox {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.shop-form-radio {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}
.shop-form-checkbox input[type="checkbox"],
.shop-form-radio input[type="radio"] {
	display: none;
}
.shop-form-checkbox:hover,
.shop-form-radio:hover {
  color: #663d15;
}
.shop-form-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}
.shop-form-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 16px;
}
.shop-form-radio input[type="radio"]:checked +
.radio-indicator::before {
  content: "";
  top: 8px;
  left: 8px;
  position: absolute;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
  background-color: #000000;
  border-radius: 8px;
}
.shop-form-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after,
.shop-form-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before {
  content: "";
  top: 8px;
  left: 0;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.shop-form-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::after {
  transform: rotate(45deg);
}

.shop-form-checkbox input[type="checkbox"]:checked +
.checkbox-indicator::before {
  transform: rotate(-45deg);
}

.shop-form fieldset {
  margin-bottom: 55px;
  padding: 0;
  border: none;
}

.shop-form legend {
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 30px;
}

.shop-paginator {
  margin-top: 40px;
  margin-left: 20px;
}
.shop-paginator ul{
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.shop-paginator li {
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  font-size: 14px;
  line-height: 18px;
  background-color: #000000;
}

.shop-paginator a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 13px 19px;
}

.shop-paginator a:hover {
  background-color: #663d15;
}

.shop-paginator .active span{
  display: block;
  padding: 13px 19px;
  cursor: default;
  background-color: #ffffff;
}

/*
##################################################
Футер
##################################################
*/

.main-footer {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a{
  color: #ffffff;
}

.footer-contacts a:hover{
  text-decoration: none;
}

.footer-social {
  float: left;
  text-align: center;
}

.main-footer p{
  margin: 0;
  padding-bottom: 15px;
}

.footer-copyright .btn {
  margin-right: 0;
  padding: 10px 25px;
}

.social-btn {
  margin: 0 2px;
  display: inline-block;
  vertical-align: top;
  width: 43px;
  height: 43px;
  font-size: 0;
  text-decoration: none;
  background: #000000 url("../img/sprite.png") no-repeat center;
}

.social-btn-fb {
    background-position: -245px 10px;
}
.social-btn-vk {
    background-position: -45px 10px;
}
.social-btn-inst {
    background-position: -145px 10px;
}

.footer-copyright {
  float: right;
  max-width: 140px;
  text-align: center;
}

@keyframes bounce {
  0% { transform: translateY(-2000px); }
  70% { transform: translateY(30px); }
  90% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}
